body {
  background-color: yellow;
}

#logo-words {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 30px;
}

#navigation {
  text-align: center;
  font-weight: bolder;
}

#navigation a {
  color: black;
  /*color: #407CFF;*/
}

.navbar {
  background-color: yellow;
  border-color: yellow;
}

.navbar a {
  color: #7D00FF;
  /*color: #407CFF;*/
  padding-left: 30px;
}

#footer-links ul {
  list-style-type:none;
}

#footer-links ul li {
  padding-top:15px;
}

#footer-links ul li a {
  color: #7D00FF;
}
